Repository demator11/StockMarket: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black -l 79 -t py313 .
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: flake8 --ignore=F401
  language: system
  stages:
  - pre-commit
  - pre-push

Add logger
  .dockerignore
  .test.env
  Dockerfile
  alembic.ini
  application/broker/order_consumer.py
  application/broker/run_broker.py
  application/broker/run_outbox_publisher.py
  application/config.py
  application/database/engine.py
  application/database/repository/balance_repository.py
  application/database/repository/order_repository.py
  application/database/repository/user_repository.py
  application/migrations/env.py
  application/migrations/versions/2025_05_31_2140-a5907d32a68c_initial.py
  application/models/database_models/balance.py
  application/models/database_models/order.py
  application/models/endpoint_models/order/get_order_by_id.py
  application/models/endpoint_models/order/get_order_list.py
  application/models/endpoint_models/public/get_orderbook.py
  application/models/orm_models/balance.py
  application/models/orm_models/order.py
  application/routers/admin.py
  application/routers/balance.py
  application/routers/order.py
  application/routers/public.py
  application/token_management.py
  conftest.py
  docker-compose.yml
  fixtures/database.py
  fixtures/models/instrument.py
  fixtures/models/order.py
  fixtures/repositories.py
  pytest.ini
  requirements.txt
  start_api.sh
  start_broker.sh
  start_outbox_publisher.sh
Due: black, flake8

Fix consumer
  application/broker/order_consumer.py
  application/database/repository/balance_repository.py
  application/database/repository/instrument_repository.py
  application/database/repository/user_repository.py
  application/migrations/versions/2025_05_31_2140-a5907d32a68c_initial.py
  application/models/database_models/balance.py
  application/routers/admin.py
  application/routers/balance.py
Due: black, flake8

Delete consumer
  application/broker/client.py
  application/broker/run_broker.py
  application/broker/run_outbox_publisher.py
  application/database/repository/balance_repository.py
  application/database/repository/order_repository.py
  application/models/database_models/transaction.py
  application/models/endpoint_models/public/get_orderbook.py
  application/models/endpoint_models/public/get_transaction_history.py
  application/models/orm_models/transaction.py
  application/routers/balance.py
  application/routers/order.py
  application/routers/public.py
  docker-compose.yml
  start_broker.sh
  start_outbox_publisher.sh
Due: black, flake8

Fix logic
  application/database/repository/order_repository.py
  application/models/endpoint_models/order/get_order_by_id.py
  application/models/orm_models/transaction.py
  application/routers/balance.py
  application/routers/order.py
Due: black, flake8

Add get candles function
  application/broker/order_consumer.py
  application/database/repository/transaction_repository.py
  application/models/endpoint_models/public/get_candles.py
  application/order_consumer.py
  application/routers/public.py
Due: black, flake8

Add docstrings
  application/order_consumer.py
  application/routers/admin.py
  application/routers/balance.py
  application/routers/order.py
  application/routers/public.py
Due: black, flake8

Add readme
  README.md
  application/routers/public.py
Due: black, flake8

Add tests draft
  application/broker/__init__.py
  fixtures/api_client.py
  tests/e2e/test_auth_flow.py
Due: black, flake8

Change flake8 and black to ruff
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: flake8

Chore: add ignore rule for ruff
  pyproject.toml
Due: flake8

Chore: apply ruff formatting and fixes
  application/database/engine.py
  application/database/repository/app_config_repository.py
  application/database/repository/balance_repository.py
  application/database/repository/instrument_repository.py
  application/database/repository/order_repository.py
  application/database/repository/outbox_message_repository.py
  application/database/repository/user_repository.py
  application/di/repositories.py
  application/migrations/env.py
  application/models/base.py
  application/models/database_models/instrument.py
  application/models/endpoint_models/admin/create_instrument.py
  application/models/endpoint_models/balance/deposit_balance.py
  application/models/endpoint_models/balance/withdraw_balance.py
  application/models/endpoint_models/order/get_order_by_id.py
  application/models/endpoint_models/public/create_user.py
  application/models/orm_models/balance.py
  application/models/orm_models/order.py
  application/models/orm_models/transaction.py
  application/models/orm_models/user.py
  application/order_consumer.py
  application/routers/admin.py
  application/routers/balance.py
  application/routers/order.py
  application/routers/public.py
  application/token_management.py
  fixtures/api_client.py
  fixtures/database.py
  fixtures/models/order.py
  main.py
Due: black, flake8

Refactor config files
  Dockerfile
  mypy.ini
  pyproject.toml
  pytest.ini
Due: flake8

Fix bug with test event loop
  application/database/engine.py
  fixtures/api_client.py
  fixtures/database.py
  pyproject.toml
  tests/conftest.py
Due: black, flake8

Fix logger
  application/logger.py
  application/order_consumer.py
  application/routers/order.py
Due: black, flake8

Update readme
  README.md
Due: flake8

Add initial migration
  application/migrations/versions/2025_06_08_1516-9b41be6fcc6b_initial.py
Due: black

feature: add RabbitMQ client and broker infrastructure
  application/broker/__init__.py
  application/broker/client.py
  start_broker.sh
  start_outbox_publisher.sh
Due: black, flake8

feature: add outbox publisher background worker
  application/broker/run_outbox_publisher.py
Due: black, flake8

feature: add order consumer background worker
  application/broker/run_broker.py
Due: black, flake8

feature: add outbox into create_order endpoint
  application/routers/order.py
Due: black, flake8

feature: add RabbitMQ, broker and outbox_publisher services to Docker Compose
  docker-compose.yml
Due: flake8

feature: update readme
  README.md
Due: flake8

Path conditions:
  black: any of: \.py$
  flake8: any file but: .ini
